/*  HOMEPAGE */
.homepagebutton {
    position: relative;
    /* bottom: -400px;
    right: 600px; */
    /* margin: 20px; */
    background-color: rgb(241, 170, 82);
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(78, 77, 76, 0.61); */
    text-align: center;
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5);
    /* margin-top: 300px; */
    z-index: 5000;
    /* margin-block: auto 20px; */
    /* bottom: 100px; */
    margin-top: 150px;
}

.homepagetaglines {
    margin-left: 600px;
    margin-top: 200px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.createorcheckoutdietdiv {
    display: flex;
    flex-direction: column;
    margin-block: 75px;
}

.homepageTitle {
    margin-bottom: 30px;
    margin-left: 300px;
    margin-top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    font-weight: bold;
}

.homepagePhrase {
    margin-bottom: 10px;
    /* margin-left: 300px; */
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Display User Diets */
.nutrientfontcolor {
    color: black;
    background-color: #772323;
    justify-content: left;
}

.nutrientdatafontcolor {
    /* background-color: #f9f9f9; */
    align-items: start;
    text-align: left;
}

/* Create Diet form page */
  .createdietform {
    justify-content: center;
    align-content: center;
    margin-left: 250px;
    font-size: 40px;
    z-index: 25;
    /* margin-top: 100px; */
    position: absolute;
    margin-top: 200px;
    margin-right: 100px;
  }

  .createdietheader {
    justify-content: center;
    align-content: center;
    margin-left: 400px;
  }

  .dietformcontainer {
    height: 1000px;
    width: 1000px;
    margin-left: 175px;
    background-image: url(/static/images/DietPlaylist.png) ;
    background-size: cover;

  }


  .displaydietsheader {
    margin-left: 400px;
    margin-top: 75px;
    margin-bottom: 75px;
  }

.DietName {
    margin-top: 100px;
}

.createdietbody {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
}

.delete-button {
    margin-left: 200px;
}

.specificdietinfo {
    margin-left: 200px;
}

.dietinfotablerow {
    justify-content: space-evenly;
}

.dietinfotablerow:hover {
    background-color: rgb(241, 170, 82);
}

.userfoodstablerow:hover {
    background-color: rgb(241, 170, 82);
}


.tableRow:hover {
    background-color: rgb(241, 170, 82);
}

#displaydietstable {
    background-color: #f9f9f9;
    border-radius: 5px;
}

#displaydiets {
    background-color: #f9f9f9;
}

#lookupbutton {
    margin-left: 250px;
    display: inline;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(65, 64, 64, 0.527); */
    background-color: rgb(241, 170, 82);
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5);
   
}
.form-control {
    border: solid 10px rgba(209, 141, 62, 0.06);
}

#navbargrouplogo {
    margin-left: 25px;
    margin-right: 25px;
}

.nav {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    justify-content: space-between;
}

#logoutclick {
    margin-left: 200px;

}

#dietdescriptions {
    margin-left: 500px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.createdietheadline {
    margin-left: 500px;
}

.position-relative {
    background-color: #f9f9f9;
}

#wholebody {
    background-color: #f9f9f9;
} 
/* 
#submitformcreatediet {
    margin-left: 150px;
    margin-top: 100px;
    background-color: rgb(241, 170, 82);
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(78, 77, 76, 0.61); */
    /* text-align: center;
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5); */


#checkoutyourdietsbutton {
    /* margin-left: 450px; */
    justify-content: center;
    font-size: 40px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    /* margin-block: 20px; */
    margin-top: 25px;
    /* margin-left: 300px;
    margin-right: ; */
    width: 500px;
    align-items: center;
    margin-left: 400px;
    border-radius: 15px;
    background-color: rgb(241, 170, 82);

}



.userfoodtableheaders {
    justify-content: center;
    align-content: center;
    background-color: #212529 ;
    color: #f9f9f9;
}

.button-danger {
    background-color: red;
    border-radius: 10px;

}

table {
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
}

.searchfoodtablehead {
    background-color: #212529 ;
    
}

.searchfoodtablerows {
    background-color: #212529 ;
    color: #f9f9f9;
}


.gobacktodietsbutton {
    align-items: center;
    justify-content: center;
    margin-left: 5000px;
    padding-left: 1000px;
}

#navbarpagetitle {
    font-size: 30px;
    font-weight: bold;
    margin-right: 100px;
}

#forminput {
    padding: 10px;
    margin: 10px;
    /* box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5); */
    width: 500px;
    background-color: rgb(241, 170, 82);
    text-align: center;
    font-weight: bolder;
    margin-left: 50px;
    border-width: 10px black;
    
}
  
#forminput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(24, 23, 23);
    opacity: 1; 
  }

#forkandspoon {
    height: 50px;
    width: 50px;
}
#silverware {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-inline: 20px;
}

#ordietdivider {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -50px;
}

  #homepageimage {
    margin-bottom: 900px;
    position: absolute;
    opacity: 5;
    margin-top: 100px;
    display: flex;
    /* height: 500px;
    width: 500px; */
    z-index: 3000;
    /* box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.205); */
    margin-right: -100px;

  }

.foodplateimage{
    /* margin-left: 100px; */
    padding-left: 25px;
    box-shadow:0 0  rgba(0, 0, 0, 0.205);
}

  .homepageimagediv {
    width: 100%;
    margin-right: -1000px;
    
  }

  .homepageimage2 {
    position: fixed;
    margin-left: 1250px;
    z-index: -200;
    margin-bottom: 2000px;
    width: 200px;
    height: 200px;
  }

  .container-fluid {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* width: 100%; */
  }

  .homepageinfodiv {
    z-index: 4000;
    color: #212529;
    font-size: 175px;
  }


.checkoutdietsdivider {
    /* margin-left: 500px; */
    margin-top: -75px;
    border: solid black 2px;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    background-color: black;
    border-radius: 15px;
    color: rgb(241, 170, 82);
}

#createyourowndietbutton {

    margin-left: 475px;
    margin-bottom: -50px;
    margin-top: 50px;


}

.displayuserdietstable {
    justify-content: center;
    align-content: center;
    background-color: #212529 ;
    color: #f9f9f9;
}

.displayuserdietstabletitle {
    margin-left: 500px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: bold;
}

.searchfoodtitle {
    margin-left: 450px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: bold;
}
.navbar {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* width: 100%; */
 
}


.homepageimage2 {
    z-index: 50000;
}
.deletefoodbutton {
    
    border-radius: 10px;
}

.deletefoodbutton:hover {
    background-color: red;
}

#userdietsubmitbutton:hover {
    background-color: rgb(241, 170, 82);
}


.join-message {
    margin-top: 100px;
    margin-bottom: 100px;
}



#usersignupbutton {
    /* padding-bottom: -50px; */
    margin-left: -300px;
    margin-right: 10px;
    display: flex;
    /* overflow: hidden; */
    margin-top: 200px;
    /* margin-top: 100px;
}

/* #userloginbutton { */
    /* border: solid blue 1px;
    /* margin-bottom: 25px; */
    /* margin-left: -100px;
    padding-bottom: -50px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -200px; */ 
    padding-bottom: -50px;
    margin-left: -150px;
    margin-right: 10px;
    display: inline;
    overflow: hidden;
} */

.homepageTitleanon {
    margin-left: 200px;

}

.homepageinfopart1 {
    font-size: 20px;
    border: 1px black;
    margin-left: 100px;

}
.homepageinfopart2 {
    font-size: 20px;
    margin-left: 25px;
    
}

.foodnameinsearchfood {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.searchfoodnutritionitems {
    color: black;
    background-color: #772323;
    justify-content: left;
    padding: 20px;
    vertical-align: middle;
}

.searchfoodnutritionitems {
    background-color: #f9f9f9;
    align-items: start;
    text-align: left;
    padding: 20px;
    vertical-align: middle;
}

.userfoodnameindiet {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.dietnameforcreateddiet {
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
}
.diettypeforcreateddiet {
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
}
.formtoselectdiet {

    vertical-align: middle;
}


 