/* .homepagebackground {
    /* background-image: url(/static/images/homepagebackground.webp); */
    /* min-height: 1000px;
    width: 100%;
    /* overflow: auto; */
    /* background-position: center 80px;
    position: relative;
    
    min-width: 1500px; */ 
/* } */ 

.homepagebutton {
    position: relative;
    /* bottom: -400px;
    right: 600px; */
    /* margin: 20px; */
    background-color: rgb(241, 170, 82);
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(78, 77, 76, 0.61); */
    text-align: center;
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5);
    /* margin-top: 300px; */
    z-index: 5000;
    /* margin-block: auto 20px; */
    /* bottom: 100px; */
    margin-top: 150px;
}


/* 
* {
    background-color: #f9f9f9;
} */
/* .homepagebody {
    background-image: url(/static/images/homepagebackground.webp);
    min-height: 1200px;
    margin-top: 100px;
    width: 100%;
    overflow: auto;
    background-position: center 80px;
    position: relative;
    background-repeat: no-repeat;
    min-width: 1500px;
    background-size: cover;
    z-index: 12;

} */

.homepagetaglines {
    margin-left: 600px;
    margin-top: 200px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.createorcheckoutdietdiv {
    display: flex;
    flex-direction: column;
    margin-block: 75px;
}

.homepageTitle {
    margin-bottom: 30px;
    margin-left: 300px;
    margin-top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    font-weight: bold;
}

.homepagePhrase {
    margin-bottom: 10px;
    /* margin-left: 300px; */
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
}

.nutrientfontcolor {
    color: black;
    background-color: #772323;
}

.nutrientdatafontcolor {
    background-color: #f9f9f9;
}

/* html, body {
    background-color: #f9f9f9;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  /* .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    /* img: { width: 100%; height: auto; } */
  /* } */ 

  .createdietform {
    justify-content: center;
    align-content: center;
    margin-left: 250px;
    font-size: 40px;
    z-index: 25;
    /* margin-top: 100px; */
    position: absolute;
    margin-top: 200px;
    margin-right: 100px;
  }

  .createdietheader {
    justify-content: center;
    align-content: center;
    margin-left: 400px;
  }

  .dietformcontainer {
    height: 1000px;
    width: 1000px;
    margin-left: 175px;
    background-image: url(/static/images/DietPlaylist.png) ;
    background-size: cover;

  }

  /* .formcontainer {
    margin-top: 100px;
  } */
/* 
  #DietName.createdietform {
    margin-top: 100px;
  } */

  .displaydietsheader {
    margin-left: 400px;
    margin-top: 75px;
    margin-bottom: 75px;
  }

.DietName {
    margin-top: 100px;
}

.createdietbody {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
}

.delete-button {
    margin-left: 200px;
}

.specificdietinfo {
    margin-left: 200px;
}

.dietinfotablerow {
    justify-content: space-evenly;
}

#displaydietstable {
    background-color: #f9f9f9;
    border-radius: 5px;
}

#displaydiets {
    background-color: #f9f9f9;
}

#lookupbutton {
    margin-left: 265px;
    display: inline;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(65, 64, 64, 0.527); */
    background-color: rgb(241, 170, 82);
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5);
   
}
.form-control {
    border: solid 10px rgba(209, 141, 62, 0.06);
}

#navbargrouplogo {
    margin-left: 25px;
    margin-right: 25px;
}

/* #forminput {
    padding-left: 25px;
    padding-right: 25px;
} */

#logoutclick {
    margin-left: 600px;

}

#dietdescriptions {
    margin-left: 500px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.createdietheadline {
    margin-left: 500px;
}

.position-relative {
    background-color: #f9f9f9;
}

#wholebody {
    background-color: #f9f9f9;
} 
/* 
.homepagebody {
    background-color: #f9f9f9;
}  */

#submitformcreatediet {
    margin-left: 150px;
    margin-top: 100px;
    background-color: rgb(241, 170, 82);
    border-radius: 10px;
    padding: 10px;
    /* box-shadow:0 0 15px 4px rgba(78, 77, 76, 0.61); */
    text-align: center;
    font-weight: bold;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5);
}

#checkoutyourdietsbutton {
    /* margin-left: 450px; */
    justify-content: center;
    font-size: 40px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    /* margin-block: 20px; */
    margin-top: 25px;
    /* margin-left: 300px;
    margin-right: ; */
    width: 500px;
    align-items: center;
    margin-left: 400px;
    border-radius: 15px;
    background-color: rgb(241, 170, 82);

}

#checkoutyourdietsbutton:hover {
    background-color: red;
}

/* .navbar {
    justify-content: space-evenly;
 
   
} */

.userfoodtableheaders {
    justify-content: center;
    align-content: center;
    background-color: #212529 ;
    color: #f9f9f9;
}

.button-danger {
    background-color: red;
    border-radius: 10px;

}

table {
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
}

.searchfoodtablehead {
    background-color: #212529 ;
    
}

.searchfoodtablerows {
    background-color: #212529 ;
    color: #f9f9f9;
}
/*     
}
.glow-on-hover {
    width: 400px;
    height: 125px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* @import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap"); */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
:root {
  --anime-word-duration: 5s;
  --hide-loader: none;
} */

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #111;
  overflow: hidden;
  color: #fff;
} */

/* .section-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 3s;
  font-family: "Nabla", cursive;
  z-index: -10;
} */

/* .section__h2 {
  font-size: 6em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}

.section__span {
  /* font-family: "Nabla", cursive; */
  /* font-family: 'Times New Roman', Times, serif;
} */ */

/* @keyframes word-anime {
  0%,
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  50% {
    filter: blur(15px);
    opacity: 0;
    transform: scale(2);
  }
} */
/* 
.section__span:nth-child(14n + 1) {
  animation: word-anime var(--anime-word-duration) infinite 0s;
}

.section__span:nth-child(14n + 2) {
  animation: word-anime var(--anime-word-duration) infinite 0.1s;
}

.section__span:nth-child(14n + 3) {
  animation: word-anime var(--anime-word-duration) infinite 0.2s;
}

.section__span:nth-child(14n + 4) {
  animation: word-anime var(--anime-word-duration) infinite 0.3s;
}

.section__span:nth-child(14n + 5) {
  animation: word-anime var(--anime-word-duration) infinite 0.4s;
}

.section__span:nth-child(14n + 6) {
  animation: word-anime var(--anime-word-duration) infinite 0.5s;
}

.section__span:nth-child(14n + 7) {
  animation: word-anime var(--anime-word-duration) infinite 0.6s;
}

.section__span:nth-child(14n + 8) {
  animation: word-anime var(--anime-word-duration) infinite 0.7s;
}

.section__span:nth-child(14n + 9) {
  animation: word-anime var(--anime-word-duration) infinite 0.8s;
}

.section__span:nth-child(14n + 10) {
  animation: word-anime var(--anime-word-duration) infinite 0.9s;
}

.section__span:nth-child(14n + 11) {
  animation: word-anime var(--anime-word-duration) infinite 1s;
}

.section__span:nth-child(14n + 12) {
  animation: word-anime var(--anime-word-duration) infinite 1.1s;
}

.section__span:nth-child(14n + 13) {
  animation: word-anime var(--anime-word-duration) infinite 1.2s;
}

.section__span:nth-child(14n + 14) {
  animation: word-anime var(--anime-word-duration) infinite 1.3s;
}

@media screen and (max-width: 992px) {
  .section__h2 {
    font-size: 5em;
  }
}

@media screen and (max-width: 768px) {
  .section__h2 {
    font-size: 4em;
  }
}

@media screen and (max-width: 576px) {
  .section__h2 {
    font-size: 3em;
  }
}

@media screen and (max-width: 468px) {
  .section__h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 300px) {
  .section__h2 {
    font-size: 1em;
  }
}

.drop {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #160e0e;
  z-index: 1000;
  filter: drop-shadow(0 0 10px white);
  border-radius: 50%;
  z-index: 1000;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
} */

/* @keyframes snow {
  0% {
    top: -2rem;
  }
  100% {
    top: 120%;
  }
} */

/* .glow-on-hover {
    border-radius: 15px;
    background-color: rgb(241, 170, 82);
} */ */

.gobacktodietsbutton {
    align-items: center;
    justify-content: center;
    margin-left: 5000px;
    padding-left: 1000px;
}

#navbarpagetitle {
    font-size: 30px;
    font-weight: bold;
    margin-right: 100px;
}

#forminput {
    padding: 10px;
    margin: 10px;
    /* box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.5); */
    width: 500px;
    background-color: rgb(241, 170, 82);
    text-align: center;
    font-weight: bolder;
    margin-left: 50px;
    border-width: 10px black;
    
}
  
#forminput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(24, 23, 23);
    opacity: 1; 
  }

#forkandspoon {
    height: 50px;
    width: 50px;
}

  #homepageimage {
    margin-bottom: 900px;
    position: absolute;
    opacity: 5;
    margin-top: 100px;
    display: flex;
    /* height: 500px;
    width: 500px; */
    z-index: 3000;
    /* box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.205); */
    margin-right: -100px;

  }

.foodplateimage{
    /* margin-left: 100px; */
    padding-left: 25px;
    box-shadow:0 0  rgba(0, 0, 0, 0.205);
}

  .homepageimagediv {
    width: 100%;
    margin-right: -1000px;
    
  }

  .homepageimage2 {
    position: fixed;
    margin-left: 1250px;
    z-index: -200;
    margin-bottom: 2000px;
    width: 200px;
    height: 200px;
  }

  .container-fluid {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
  }

  .homepageinfodiv {
    z-index: 4000;
    color: #212529;
    font-size: 175px;
  }

/* .homepageinfopart1 {
    z-index: 4000;
    font-size: 50px;
    
} */
.checkoutdietsdivider {
    /* margin-left: 500px; */
    margin-top: -75px;
    border: solid black 2px;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    background-color: black;
    border-radius: 15px;
    color: rgb(241, 170, 82);
}

#createyourowndietbutton {
    /* margin-left: 450px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    background-color: #000;
    color: #f9f9f9;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    /* display: inline; */
    /* margin-bottom: 10px;
    width: 400px;
    height: 125px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    align-content: center;
    text */ 
    margin-left: 475px;
    margin-bottom: -50px;
    margin-top: 50px;
    /* border: solid black 1px;
    background-color: #000;
    color: #f9f9f9; */

}

.displayuserdietstable {
    justify-content: center;
    align-content: center;
    background-color: #212529 ;
    color: #f9f9f9;
}

.displayuserdietstabletitle {
    margin-left: 500px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: bold;
}

.searchfoodtitle {
    margin-left: 450px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: bold;
}

/* header {  
    background-color: orange;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
    }  

    .navigationbar {
        display: inline;
    } */

/* .navbar {
    display: flex;
} */

.homepageimage2 {
    z-index: 50000;
}

.deletefoodbutton:hover {
    background-color: red;
}

#userdietsubmitbutton:hover {
    background-color: rgb(241, 170, 82);
}

/* #user-form {
    margin-left: 100px;
} */

.join-message {
    margin-top: 100px;
    margin-bottom: 100px;
}

#signupbutton {
    margin-top: 50px;
}

#loginbutton {
    margin-top: 50px ;
}

#usersignupbutton {
    padding-bottom: -50px;
    margin-left: 500px;
    margin-right: 50px;
}

#userloginbutton {
    border: solid blue 1px;
}

.homepageTitleanon {
    margin-left: 200px;

}

.homepageinfopart1 {
    font-size: 20px;
    border: 1px black;
    margin-left: 100px;

}
.homepageinfopart2 {
    font-size: 20px;
    margin-left: 25px;
}

