<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/images/icon.png">
  <title>Nutritional INFO for your food</title>

  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}" id="wholebody">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/logo.png" height="60px" width="60px" alt="logo">
        <span id="navbarpagetitle">Your Nutrition Guide</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      </a>
      <li class="searchforfoodform">
        <form class="navbar-form navbar-right" action="/search_food">
          <input id="forminput" name="q" class="form-control" placeholder="Search Food" id="search"> 
          <button id="lookupbutton" action="/search_food">Look it up!</button>

        </form>
      </li>
      {% if not g.user %}
      <div class="usersignupandlogin">
      <!-- <li ><a class="btn btn-outline-primary" id="usersignupbutton" href="/signup">Sign up</a></li> -->
      <li ><a class="btn btn-outline-primary" id="usersignupbutton" href="/signup">Sign up</a><a class="btn btn-outline-primary" id="userloginbutton" href="/login">Log in</a></li>
      </div>
      {% else %}

      <li>


      </li>
      <li><a id="logoutclick" href="/logout" class="btn btn-outline-primary">Log out</a></li>
        
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}

  {% endblock %}

</div>


<script src="/static/app.js"></script>

</body>
</html>