{% extends 'base.html' %}
{% block content %}
<!-- <h1 class="createdietheader">Create your own Diet Plan</h1> -->
<body class="createdietbody">

<h1 id="dietdescriptions">                           Diet descriptions:</h1>
<h2>Bulking Diet</h2>
<p>A bulking diet focuses on nutrient- and calorie-dense foods. These stimulate controlled weight gains to enhance muscle building, whereas a cutting diet includes nutrient-dense, lower calorie foods to stimulate fat loss and muscle maintenance.</p>
<h2>Weight Loss Diet</h2>
<p>A weight loss diet typically involves a reduction in calorie intake and an increase in physical activity to create a calorie deficit, which results in the body burning stored fat for energy. The diet may also emphasize foods that are high in protein, fiber, and/or water content to help increase feelings of fullness and reduce overall calorie intake. Additionally, a weight loss diet may restrict or limit certain types of foods, such as high-fat or high-sugar foods, to further reduce calorie intake.</p>
<h2>Maintenance Diet</h2>
<p>A maintenance diet is a type of diet that is designed to help an individual maintain their current weight without gaining or losing weight. This type of diet typically involves consuming a balance of macronutrients (carbohydrates, proteins, and fats) and micronutrients (vitamins and minerals) that meets an individual's daily energy needs based on their activity level and metabolism. A maintenance diet may include a variety of whole foods, such as lean protein sources, whole grains, fruits, and vegetables, while limiting highly processed foods, sugary drinks, and excessive amounts of saturated and trans fats. The goal of a maintenance diet is to provide the body with the nutrients it needs to function optimally while preventing weight gain or loss.</p>

<h1 class="createdietheadline">Create Your Own!</h1>


<div class="dietformcontainer">
  
    <!-- <a href="/diets">
      <img src="/static/images/DietPlaylist.png" />
    </a> -->
 
<div class="formcontainer">
<form class="createdietform" action="/diets" method="POST" type="text" id="DietName">
    <label for="DietName">Diet Name:</label>
  {{ form.hidden_tag() }}
  {% for field in form
    if field.widget.input_type != 'hidden' %}
   
    <p>
      <!-- <label for="diettype">Diet Type:</label> -->
      <!-- <label for="diet_type">Diet Type:</label> -->
      <!-- <h2>Diet Name, Diet Type</h2> -->
        {{field}}
    </p> 
    {% endfor %} 
    <!-- <button>Add it to my meal!</button>  -->
    <input id="submitformcreatediet"  type="submit"> 
    <br>
    <br>
    
</form>
<br>
<br>


</div>

</div>
<button class="glow-on-hover" id="checkoutyourdietsbutton"  onclick="window.location.href='/diets';">Check out your diets!</button>
</body>

{% endblock %}

<script src="/static/app.js"></script>