{% extends 'base.html' %}
{% block content %}
<h1>Here are your foods!</h1>

<div class="position-relative">
  <table class="table table-bordered table-dark">
  <thead>
      <tr>
          <th scope="col">Food Name</th>
          <th scope="col">Image</th>
          <th scope="col">Nutrition per 100g</th>
      </tr>
  </thead>
  <tbody>
  {% for food in foods %}
  
      <tr>
          <td>{{ food.label }}</td>
          <td ><img src="{{ food.image_url }}" alt="" height="300" width="300"></td>
          
          <td>
              {% for nutrient in food.nutrition %}
              <li>
                  {{ nutrient.name }}: {{ nutrient.value}}
              </li>
              {% endfor %}
          </td>
{% endfor %}
{% endblock %}

<script src="/static/app.js"></script>