{% extends 'base.html' %}
{% block content %}
<h1>Here are your diet plans!</h1>

<table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">Diet Name</th>
      <th scope="col">Type of Diet</th>

    </tr>
      </thead>
    <tbody>
{% for diet in diets %}
        <tr>
            <td >{{diet.diet_name}} <a href="/diets/{{diet.id}}" >Go check out this diet!</a> <button type="button" class="delete-button" id="delete-button" data-id="{{diet.id}}">Delete this one! </button></td>
            <td>{{diet.diet_type}}</td>
        </tr>
    </tbody>

    
  {% endfor %}
</table>


{% endblock %}


<script src="/static/app.js"></script>