{% extends 'base.html' %}
{% block content %}
<h1 class="displayuserdietstabletitle">Here are your foods!</h1>
<div>
    <a class="btn btn-outline-primary" href="/diets">Go back to your diets!</a>
</div>

<div class="position-relative" id="displaydiets">
  <table class="table table-bordered " id="displaydietstable">
  <thead>
      <tr class="displayuserdietstable">
          <th scope="col">Food Name</th>
          <th scope="col">Image</th>
          <th scope="col">Nutrition per 100g</th>
          <th scope="col">Remove it?</th>
      </tr>
  </thead>
  <tbody>
  {% for food in food_list %}
  
      <tr class="userfoodstablerow" data-id="{{food.api_id}}">
          <td class="userfoodnameindiet">{{ food.label }}</td>
          <td ><img src="{{ food.image_url }}" alt="" height="300" width="300"></td>
          
          <td class="nutrientfontcolor">
              {% for nutrient in food.nutrition %}
              <li class="nutrientdatafontcolor">
                  {{ nutrient.name }}: {{ nutrient.value}}
              </li>
              {% endfor %}
          </td>
          <td>
            <button class="deletefoodbutton">Remove it!</button>
          </td>
{% endfor %}
 <!-- <img src="/static/images/fruits and veggies.webp" alt=""> -->
{% endblock %}

<script src="/static/app.js"></script>  