{% extends 'base.html' %}
{% block content %}
<h1 class="displaydietsheader">Here are your diet plans!</h1>
<img src="/static/images/foodheader.jpg" alt="">

<table class="table table-bordered" id>
    <thead>
    <tr class="userfoodtableheaders">
      <th scope="col">Diet Name</th>
      <th scope="col">What's in it?</th>
      <th scope="col">Get rid of it?</th>
      <th scope="col">Type of Diet</th>

    </tr>
      </thead>
    <tbody>
{% for diet in diets %}
        <tr class="dietinfotablerow">
            <td >{{diet.diet_name}}  </td>
            <td><a class="btn btn-outline-primary" href="/diets/{{diet.id}}" >Go check out this diet!</a></td>
            <td><button type="button" class="button-danger" id="delete-button" data-id="{{diet.id}}">Delete this one! </button></td>
            
            <td>{{diet.diet_type}} </td>
        </tr>
    </tbody>

    
  {% endfor %}
</table>


{% endblock %}


<script src="/static/app.js"></script>